* {
  margin: 0 auto;
}
body {
  background-color: seashell;
  font-family: "Poppins", sans-serif;
}
.App {
  min-height: 100vh;
}

/* -------------------------------- Card ---------------------------------- */
.card__container {
  display: flex;
  flex-wrap: wrap;
}
.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 10rem;
}
.product__img {
  max-width: 10rem;
  max-height: 10rem;
  height: auto;
}
.card {
}
#logo {
  margin-left: 1rem;
}
#logo strong {
  color: darkslategrey;
}
.navbar {
  margin-top: 1rem;
  display: flex;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 1.5rem;
  cursor: pointer;
  width: 3rem;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  margin-right: 5rem;
}
.navbar ul li a:hover {
  border-bottom: 1px solid black;
}
